/* Table of Contents
/*** CONTENTS ***/
/*****************************************************************
1. #Header top menu
2. #Header menu
3. #Header menu Responsive
4. #slider menu
*****************************************************************/

/* ==========================================================================
                               1. #Header top menu
   ========================================================================== */
#Hospital .header-container.header-minimal #menu-main-menu, .header-TopMinimal #menu-main-menu {
    padding-left: 0 !important;
}

.header-TopMinimal .header-container.header-minimal .navbar-default .navbar-nav > li > a,
.header-TopMinimal .header-container.header-standart .navbar-default .navbar-nav > li > a {
    padding-bottom: 34px !important;
    padding-top: 30px !important;
}

#Hospital .btn-secondary.booking,
#Hospital .btn-secondary.booking:focus {
    margin-top: 15px;
}

#Hospital header.header-container .top-nav .assemblerfl-container .icontext {
    margin-right: 7px;
    overflow: hidden;
}

#Hospital header.header-container .top-nav .assemblerfl-container .iconstyle {
    float: left;
    margin-right: 7px;
    overflow: hidden;
}

#Hospital header.header-container .top-nav .assemblerfl-container .iconstyle i {
    color: #347cdb;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 48px;
    border: 1px solid #347cdb;
    border-radius: 50%;
    text-align: center;
    transition: .3s;
    float: left;
    margin-right: 7px;
    overflow: hidden;
}

#Hospital header.header-container .top-nav .assemblerfl-container .link-mycart strong,
#Hospital header.header-container .top-nav .assemblerfl-container .link-wishlist strong,
#Hospital header.header-container .top-nav .assemblerfl-container .link-login strong {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#Hospital header.header-container .top-nav .assemblerfl-container .link-mycart span,
#Hospital header.header-container .top-nav .assemblerfl-container .link-wishlist span,
#Hospital header.header-container .top-nav .assemblerfl-container .link-login span {
    margin: 0;
    overflow: hidden;
}

#Hospital header.header-container .top-nav .assemblerfl-container .headerol {
    position: relative;
    padding-left: 0;
}

#Hospital header.header-container .top-nav .assemblerfl-container .headerol.first::before {
    opacity: 0;
}

#Hospital header.header-container .top-nav .assemblerfl-container .headerol::before {
    content: "";
    position: absolute;
    background: #ddd;
    width: 1px;
    height: 75px;
    top: -21px;
    left: -13px;
    z-index: 9999999;
    overflow: visible;
}

#Hospital header.header-container .top-nav .assemblerfl-container {
    overflow: hidden;
}

/* ==========================================================================
                               2. #Header menu
   ========================================================================== */

.header-TopMinimal .header-container.header-minimal .navbar-default .navbar-nav > li > a:first-child,
.header-TopMinimal .header-container.header-standart .navbar-default .navbar-nav > li > a:first-child {
    padding-left: 0 !important;
}

#Hospital #header-desktop-menu .yamm {
    height: 90px;
}

#Hospital header.header-container #header-desktop-menu #header_links li {
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-bottom: 10px;
}

#Hospital header.header-container #header-desktop-menu .stylish-input-group-search {
    float: left;
}

#Hospital header.header-container #header-desktop-menu .stylish-input-group-search .input-group-addon button {
    border: 0;
    background: transparent;
}

#Hospital header.header-container #header-desktop-menu .stylish-input-group-search .input-group-addon {
    background: white;
    border: 1px solid #e7e7e7;
    border-left: none;
    padding: 5px;
}



#Hospital header.header-container #header-desktop-menu #header_links {
    float: right;
    padding-right: 8px;
}

#Hospital #header-desktop-menu #mobile_links {
    width: 100%;
}

#Hospital .header-container.header-top-minimal .header-right {
    padding: 0 !important;
    width: 16%;
}

#Hospital .meganav_dropdown > ul > li.menu-item-has-children > a,
#Hospital .nav-menu-links > ul > li > a, .meganav_dropdown li a,
#Hospital #header-desktop-menu .dropdown-menu > li > a {
    display: block;
    text-align: left;
    height: 40px;
    line-height: 40px;
    border-bottom: 0;
    color: #232323;
    font-size: 14px;
    padding: 0 10px;
}

/* ==========================================================================
                              3. #Header  menu Responsive
   ========================================================================== */
header.header-container #header-desktop-menu.this-desktop-menu .mega_menu_logo-container_mini{
    display: none;
}

@media (max-width: 1200px) {
    #Hospital header.header-container #header-desktop-menu #header_links{
        display: none;
    }

    #Hospital header.header-container #header-desktop-menu .stylish-input-group-search {
        margin-top: 25px;
    }
}

@media (max-width: 1000px) {
    .header-container.header-minimal .header-right .mobil-cart-container-header-right,
    .header-container.header-standart .header-right .mobil-cart-container-header-right {
        float: right;
    }

    header.header-container #header-desktop-menu #mobile_links,
    header.header-container #this-top-nav-menu.top-nav #mobile_links{
        float: none;
    }

    #Hospital header.header-container #header-desktop-menu .stylish-input-group-search {
        display: none;
    }

    header.header-container #header-desktop-menu.this-desktop-menu .mega_menu_logo-container_mini{
        display: block;
    }

    #Hospital #header-desktop-menu .yamm {
        height: 65px;
    }

    #Hospital .header-container.header-top-minimal .header-right {
        width: 34%;
    }
}



/* ==========================================================================
                              4. #slider menu
   ========================================================================== */
#Hospital .image .listable-gallery-container > .slick-prev,
#Hospital .image .listable-gallery-container > .slick-next,
#Hospital .testimonials-slider-container .testimonials-slider > .slick-prev,
#Hospital .testimonials-slider-container .testimonials-slider > .slick-next,
#Hospital .gallery-container .ul-gallery > .slick-prev,
#Hospital .gallery-container .ul-gallery > .slick-next,
#Hospital .embed-post-container > .slick-prev,
#Hospital .embed-post-container > .slick-next,
#Hospital .products-container .ul-products > .slick-prev,
#Hospital .products-container .ul-products > .slick-next {
    border-radius: 0;
    background: #ddd;
    color: #000;
}

#Hospital .testimonials-slider-container .testimonials-slider > .slick-prev:before,
#Hospital .testimonials-slider-container .testimonials-slider > .slick-next:before {
    color: #000;
}

.home-big-plus h4 span {
    font-size: 20px;
}



.home-big-plus .sc-btn-lg {
    padding: 18px 29px;
    font-size: 14px;
}