/* Table of Contents
/*** CONTENTS ***/
/*****************************************************************
1. #Header top menu
2. #Header menu

*****************************************************************/

/* ==========================================================================
                                1. #Header top menu
   ========================================================================== */
header.header-container .top-nav .assemblerfl-container .currency a,
header.header-container .top-nav .assemblerfl-container .currency b {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.custom-block-header span,
.custom-block-header i,
header.header-container .top-nav #header_links li a {

    color: #000000;
    font-size: 11px;
    font-family: Poppins;
    line-height: 11px;
    text-transform: capitalize;

}

header.header-container .top-nav .option-title .fa {
    font-size: 11px;
    vertical-align: middle;
    width: 23px;
    height: 21px;
    line-height: 23px;
    text-align: center;
    -webkit-border-radius: 3px;
    display: inline-block;
    background: #efefef !important;
    color: #4487FA !important;
    border-radius: 12px;

}

header.header-container .top-nav #header_links li {

    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 40px;

}

/* ==========================================================================
                               2. #Header menu
   ========================================================================== */
.header-container.header-top-minimal .navbar-nav > li > a,
.header-container.header-full .navbar-nav > li > a,
.header-container.header-minimalbody .navbar-nav > li > a,
.header-container.header-fixed.header-minimal .navbar-nav > li > a,
.header-container.header-standart .navbar-nav > li > a {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

header.header-container .top-nav .assemblerfl-container .currency a {
    color: #000000;
}
